body
{
     margin: 0;
     font-family: 'Muli',sans-serif;
     color: #646464;
}

#header
{
     background-color: #a3dd7c;
     color: white;
     text-align: center;
     height: 300px;
}

#header_text
{
     padding-top: 50px;
}

h1
{
     font-size: 50px;
}

p
{
     font-size: 20px;
}
